# 用于 handlebars 的 helper 注册
SHARED_HELPERS=D:\joyy\webs\shopline-static\layout\themes\shared\node\helpers\core
# MOCK_STORE_HOST
MOCK_STORE_HOST=tlabs9.myshoplinestg.com
# CLI_WEB_PATH
CLI_WEB_PATH=D:\github-project\hbs-cookbook\expect-source
# CLI_API_MOCK_PATH
CLI_API_MOCK_PATH=D:\github-project\hbs-cookbook\expect-source\mock
# SSR_PLUGIN_PATH
SSR_PLUGIN_PATH=D:\joyy\webs\shopline-static\layout\plugins\colorpalette,D:\joyy\webs\shopline-static\layout\plugins\filter
